.chat-container {
  background-color: #F3F6FB;
  width: 560px;
  height: 600px;
  border-radius: 15px 15px 15px 15px;
  padding: 25px;
  position: relative;
}

.main-chat {
  overflow-y: scroll;
  height: 510px;
  width: calc(100% + 10px);
}

::-webkit-scrollbar {
  display: none;
}

// ::-webkit-scrollbar {
//   width: 5px;
//   height: 5px;
//   background: transparent;
// }
// ::-webkit-scrollbar-track {
//   background: none;
//   margin: 10px 8px 10px 8px;
//   border-radius: 20px;
// }
// ::-webkit-scrollbar-thumb {
//   background-color: #5B748A;
//   border-radius: 15px;
// }