<div class="chat-container">
  <div class="main-chat">
    <ng-container *ngFor="let message of messages">
      <app-sender-message *ngIf="message.nickname === nickname;else receiverBlock" [chatRecord]="message"></app-sender-message>
      <ng-template #receiverBlock>
        <app-receiver-message [chatRecord]="message" ></app-receiver-message>
      </ng-template>
    </ng-container>
  </div>

  <div class="chat-send-container">
    <div class="chat-send-bar">
      <input [(ngModel)]="messageToSend" type="text" placeholder="Enter your message here" />
      <button (click)="sendMessage()">Send <img src="assets/img/send.svg"></button>
    </div>
  </div>
</div>