.sender-nickname {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
  color: #5B748A;
  font-weight: 500;
  font-size: large;
}

.sender-message-date {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
  color: #acacac;
  font-weight: 100;
  font-size: small;
  margin-top: 5px;
}

.sender-message-bubble {
  background-color: #1A233B;
  padding: 20px;
  color: #FCFCFC;
  min-width: 50px;
  max-width: 250px;
  border-radius: 15px 15px 15px 15px;
}

.sender-message-container {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}