<div class="message-container" [ngClass]="isSender ? 'sender' : 'receiver'">
  <div class="message-info">
    <div class="nickname">{{ chatRecord.nickname }}</div>
    <div class="message-bubble" (click)="replyToMessage()">
      <div class="reply-message" *ngIf="chatRecord?.replyMessage" >
        <span>{{ chatRecord.replyMessage | truncMessage: 50 }}</span>
        <img src="assets/img/reply-{{isSender ? 'sender' : 'receiver'}}.svg" />
      </div>
      <span>{{ chatRecord.message }}</span>
    </div>
    <div class="message-date">
      {{ chatRecord.date | date: 'shortTime' }}
    </div>
  </div>
</div>